[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/FreeRTOS-Kernel"]
	path = thirdparty/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "thirdparty/BME68x-Sensor-API"]
	path = thirdparty/BME68x-Sensor-API
	url = https://github.com/BoschSensortec/BME68x-Sensor-API
